:root[data-theme="amber"] {
    --cyan: #f59e0b;
    --green: #f97316;
    --red: #ef4444;
    --violet: #fbbf24;
}

:root[data-theme="violet"] {
    --cyan: #8b5cf6;
    --green: #0ea5e9;
    --red: #ec4899;
    --violet: #a78bfa;
}
